.InfoBlock {
    border: 1px solid whitesmoke;
    border-radius: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
    width: 100%;
    padding: 10px;
    background-color: #FA5D93;
}

.InfoBlockTitle {
    color: white;
}

.InfoBlockPrice {
    color: white;
}
