nav {
    top: 0;
    height: 60px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #F7F6F6;
    /*display: flex;*/
    /*justify-content: space-around;*/
    /*align-items: center;*/
    z-index: 5;
}

.AppButton {
    right: 0;
}

.list {
    list-style-type: none;
    background-color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    border-bottom: 1px solid #F7F6F6;
    transition: 0.4s;
}
.ItemsParent {
    display: flex;
}

.items {
    margin-right: 20px;
    font-size: 22px;
    text-transform: uppercase;
    color: #f1f1f1;
    cursor: pointer;
}

.btn {
    display: none;
    position: absolute;
    right: 10px;
    top: 7px;
    padding: 5px;
    color: #000;
    font-size: 18px;
}

.btn:hover {
    cursor: pointer;
}

.is-active {
    color: black;
}

.link {
    color: gray;
    font-size: 18px;
}

.link:hover {
    color: black;
    transition: 0.4s;
}

@media screen and (max-width: 600px){
    .list {
        flex-direction: column;
        height: 100vh;
        z-index: 1;
    }
    .items:nth-child(1){
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        margin-top: 50px;
    }
    .items {
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        text-align: center;
        margin-right: 0px;
        padding: 20px 0;
    }
    .btn {
        display: block;
    }

}
